html, body {
  margin: 0;
}

#app {
  
  
}

#top {
  position: relative;   
  min-height: 65vh;
  width: 100%;
}

#hed {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}



#had {
    position: absolute;
    top: 0%;
  left: 0%;
    height: 100px;
    width: 100%;
    border: 1px solid none;
  
 


 
  
}
#sun
{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#navba
{
    height: 100px;
    width: 45%;
    border: 1px solid none;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
}
#navba {
  height: 100px;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.nav-item {
  position: relative;
  cursor: pointer;
  font-size: 18px;
}


.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

/* optional color change */
.nav-item:hover {
  color: #ffd900;
}

#qw
{
    position: absolute;
    left: 38%;
    top: 33%;
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#dwn
{
    position: absolute;
    left: 49%;
    top: 40%;
    font-size: 80px;
    color: white;
}
#secbox
{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
   
}
#o, #p {
  height: 60vh;
  border: 1px solid none;
  /* overflow: hidden; */
}

#hj
{
    margin: 30px 210px;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-align: justify;
}
#para
{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 210px;
    margin-right: 150px;
    text-align: justify;
    font-size: 18px;
    color: gray;

}
#egg
{
    height: 100%;
    width: 100%;
     object-fit: fill; 
    
}
#lea {
  margin: 10px 210px;
  font-size: 20px;
  text-decoration: none;
  position: relative;        /* REQUIRED */
}

#lea::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;

  width: 38%;               /* equals text width */
  height: 4px;
  background-color: yellow;
  border-radius: 4px;

  transform: scaleX(0);     
  transition: transform 0.3s ease;
}

#lea:hover::after {
  transform: scaleX(1);    
}

#thirdbox
{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
}

#lea1 {
  margin: 10px 210px;
  font-size: 22px;
  text-align: justify;
  text-decoration: none;
  position: relative;        
}
#lea1::after
{
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;

    height: 4px;
    width: 40%;
    background-color: red;
    border-radius: 4px;

    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#lea1:hover::after
{
    transform: scalex(1);
}


#forthbox
{
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
    position: relative;
}

#cherry {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

#co {
  position: absolute;

  top: 180px;
  left: 5%;
 margin: 50px 50px;
  border: 1px solid none;
  display: inline;
  height: 200px;
  width: 500px;
  text-align: center;
}
#gra
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    color: rgb(2, 44, 2);
}
#ptr
{
    font-size: 15px;
    margin: 40px 40px;
    color: rgb(2, 44, 2);
}

#orange
{
    width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
}

#gra1
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    color: rgb(2, 44, 2);
}
#ptr1
{
    font-size: 15px;
    margin: 40px 40px;
    color: rgb(2, 44, 2);
}
#co1 {
  position: absolute;

  top: 190px;
  left: 56%;
 margin: 50px 50px;
  border: 1px solid none;
  display: inline;
  height: 200px;
  width: 500px;
  text-align: center;
}

#fifth
{
    height: 55vh;
    width: 100%;
    
    border: 1px solid none;
    
    position: relative;
}

 .fg
{
    
    display: inline;
    height: 40vh;
    /* width: 26.6%; */
    
    border: 1px solid none;
    
} 

#clit
{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    color: gray;
    margin-top: 30px;
}

#vf
{
    height: 40vh;
    width: 80%;
    border: 1px solid none;
    margin: 20px auto;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr ; 
    
}
.imgh
{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 10px auto;

}

.pl
{
    font-size: 15px;
    color: rgb(74, 73, 73);
    margin: 20px 20px;
    text-align: center;
}
.nme
{
    margin-top: 30px;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
font-weight: bold;
color: black;

}
.mk
{

text-align: center;
font-size: 15px;
color: rgb(74, 73, 73);
}

#finalcont
{
    height: 25vh;
    width: 100%;
    display: grid;
    border: 1px solid none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#fnal
{
    
    width: 100%;
    border: 1px solid black;
    background-color: rgb(153, 224, 153);
}


